body{

font-family:Arial;


background:linear-gradient(

  135deg,
                #1f6fb2 0%,     
                #05275a 35%,    
                #0084ff 65%,    
                #0d0179 100%  

);

background-size:400% 400%;

animation:fundo 10s ease infinite;

min-height:100vh;

}



@keyframes fundo{

0%{
background-position:0% 50%;
}

50%{
background-position:100% 50%;
}

100%{
background-position:0% 50%;
}

}
.geral{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: rgb(255, 255, 255);
    height: 850px;
    width: 750px;
    margin-top: 40px;
    border-radius: 30px;
    

}
input{
    padding: 5px;
    width: 650px;
    height: 30px;
    border-radius: 10px;
    border-color:  rgb(10, 153, 248);
}
button{
     width: 650px;
    height: 35px;
    border-radius: 10px;
}
button:hover{
    background-color: #1462f1;
    
}
.cadastrar{
    background-color: rgb(17, 65, 196);
    color: white;
    border: none;
    font-size: 12pt;
    font-weight: bold;
}
.alterar{
    background-color:  rgb(17, 65, 196);
    color: #ffffff;
    border: none;
    font-size: 12pt;
    font-weight: bold;
}
.excluir{
    background-color: rgb(17, 65, 196);
    color: #ffffff;
    border: none;
    font-size: 12pt;
    font-weight: bold;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}